* {
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: rgb(16, 20, 32);
    color: white;
}

header {
    background-image: url(../images/concert-header-backsplash.jpg);
}

.highlight-text-color {
    color: #ff7777;
}

.color-bg {
    background-color: rgba(43, 45, 70, 0.486);
}

.color-bg-text {
    background-color: rgba(197, 197, 197, 0.13)
}

form {
    background-color: rgb(222, 219, 219);
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px;
    margin: 0 auto;
}

svg {
    color: rgb(82, 82, 82);
    fill: currentColor;
    width: 30px;
    padding: 5px;
    margin-left: 14px;
}

#artist_search {
    all: unset;
    cursor: pointer;
}

input {
    all: unset;
    color: black;
    width: 100%;
    padding: 6px 6px;
}


/*footer style*/

.list-search-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.full-list {
    background-color: rgba(104, 31, 31, 0.863);
    border-radius: 10px;
    margin: 5px;
    padding: 2px 12px;
    cursor: pointer;
}