body {
    background-color: rgb(43, 45, 70);
    color: white;
}

.primary-text-color {
    color: #C21858;
}

.secondary-text-color {
    color: #ee7fa4;
}

.color-bg {
    background-color: rgba(43, 45, 70, 0.486);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    background-image: url(/assets/images/concert-header-backsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

form {
    background-color: rgb(222, 219, 219);
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    margin: 0 auto;
}

svg {
    color: gray;
    fill: currentColor;
    width: 80%;
    padding: 10px;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

input {
    all: unset;
    color: #fff;
    width: 100%;
    padding: 6px 10px;
}


/* main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 10px;
} */


/* #concert {
    display: flex-row;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 10px;
} */


/* #artist-bio {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 10px;
} */

footer {
    display: flex-row;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 10px;
}

.video-container {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 10px;
}

.video-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 10px;
}

.video-img {
    border-radius: 10%;
}